@media (max-width:500px){
    .nav{
        flex-direction: column;
        align-items: center;
    }

    .nav .logo{
        margin-bottom: 0.5rem;
        text-align: center ;
        foo
    }

    .nav ul{
        padding: 0.5rem;
    }
    .l-header ,p{
        font-size: 1rem;
    }
    .l-header h2{
        font-size: 1.5rem;
    }
    .btn{
        padding: 1rem;
        font-size: 1rem;
    }

        /* Section1 */
    #section1 h4{
        font-size: 1.5rem;
    }
    #section1 p{
        font-size: 1rem;
    }
    #section1 h2{
        font-size: 1.5rem;
    }
    #section1 .items,.item {
        display: block;
        padding: 0;
        margin: 0;
    }
    #section1 .items .item i{
        font-size: 1.5rem;
        padding: 1rem;
    }
    /* section2 */
    #section2 {
        display: flex;
        flex-direction: column;
    }
    #section2 .img{
        flex-basis: 200px;
    }

    /* section3 */
    #section3{
        font-size: 1rem;
    }
    #section3 #firstpic {
        display: none;
    } #section3 #lastpic {
        display: none;
    }
    #section3 .items img{
    width: 90%
    }
  
    
}