@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir.eot');
    src: url('../fonts/Vazir.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vazir.woff2') format('woff2'),
         url('../fonts/Vazir.woff') format('woff'),
         url('../fonts/Vazir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html,body{
    font-family:'vazir',Arial, sans-serif;
    line-height: 1.4;
}

/*  Utility variebles  */
.bg-dark{
    background-color: #333;
    color:#fff;
}
.btn{
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    color:#fff;
    background-color: orange;
    border-radius:9px;
    border: none;
}
.btn:hover{
    color: orange;
    background-color: #fff;
    transition-duration: 0.25s ;
}

m-heading{
    font-size: 1.5rem;
}
.list{
    margin: .5rem;
    list-style-type: none;
}
.col-primary{
    color:orange;
}
.container{
    max-width: 1100px;
    margin: auro;
    padding: 0 2rem;
}
.bg-light{
    background-color: #f4f4f4;
    color: #333;
}
.text-center{
    text-align: center;
}
.p-1{padding:.75rem}
.p-2{padding: 2rem}
.p-3{padding: 3rem}

.py-1{padding: .75rem 0}
.py-2{padding:2rem 0}
.py-3{padding:3rem 0}

.m-1{margin:.75rem}
.m-2{margin: 2rem}
.m-3{margin: 3rem}

/*  Nav Bar  */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
}
   
.nav a{
    color:#fff;
    padding: .75rem;
}
.nav .nav-list {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    list-style-type:none;
    font-weight: bold;
}

.nav .nav-list li:hover{
    background-color: orange;
    color:#fff;
    border-radius:5px;
    font-size: 20px;
    transition: .25s ease-in;
}

/* Header  */
header{
    background:linear-gradient(to top ,rgba(0,0,0,0.2),rgba(0,0,0,0.9)),url('../Img/img.jpg') no-repeat center center/cover;
}
header .l-header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;rem;
    text-align: center;
}
header .l-header h2 {
    margin-bottom:2rem;
    color:#fff;
}
header .l-header p{
    margin:2rem;
    font-weight:bolder;
    color:#fff;
}


/* Sections */

    /* FIRST  */
#section1{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    min-height: 50vh;
}
#section1 .items{
    display:flex;
    padding:1rem;
}
#section1 .items .item{
    flex: 1;
    text-align: center;
    padding: 0 2rem;
    margin: 1.5rem;

}
#section1 .items .item i{
    background-color: orange;
    font-size: 3rem;
    border-radius: 50%;
    padding: 1.5rem;
}

    /* SECOND */
#section2{
    display: flex;
    min-height: 40vh;
}
#section2 div{
    flex: 1;
}
#section2 .img{
    background: url('../Img/section2.jpg') no-repeat center center/cover;
}
#section2 .content{
    text-align: right;
}
#section2 .list li {
    border-bottom: #444 dotted 1px;
    padding: .5rem;
}
    /* THIRD */
#section3{
    display: flex;
    justify-content: center;
}
#section3 .items{
    display: flex;

}
#section3 .items div{
    flex:1;
}
#section3 .items img{
    width: 60%;
    display: block;
    margin: auto;
    border-radius: 50%;
}
#section3 .items #ali{
    border: orange solid 3px;
}
    /* CONTACT */
#contact{
    display:flex;
    justify-content: center;
}
#contact .form-group{
    flex-basis:600px;
    text-align: right;
}
#contact .form-group label{
    display: block;
    margin: 1rem 0;
}
#contact input,textarea{
    width: 100%;
    padding: .5rem;
}

    /* Footer  */
 #main-footer{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: auto;
 }
 #main-footer a{
    color: orange;
    margin: 0.25rem;
 }
 #main-footer a:hover{
     color: #fff;
    transition-duration:.5s ;
}
