@font-face{
    font-family:"vazir";
    src: url('fonts/vazir.ttf') format('truetype');
    src: url('fonts/vazir.woff') format('woff');
    src: url('fonts/vazir.woff2') format('woff2');
    src: url('fonts/vazir.eot') format('eot');
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html,body{
    font-family:'vazir',Arial, sans-serif;
    line-height: 1.4;
}

/*  Utility variebles  */
.bg-dark{
    background-color: #333;
    color:#fff;
}
.col-primary{
    color:orange;
}


/*  Nav Bar  */

.nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0;
}
   
.nav a{
    color:#fff;
    padding: .75rem;
}
.nav .nav-list {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    list-style-type:none;
    font-weight: bold;
}

.nav .nav-list li:hover{
    background-color: orange;
    color:#fff;
    border-radius:5px;
    font-size: 20px;
    transition: .25s ease-in;
}

/* Header  */
header{
    /*
    background-image:linear-gradient(rgba(0, 0,0, .2),rgba(0,0,0,.9)) ;
    background: #333 url('../Img/img.jpg') no-repeat center center/cover; */
    background:linear-gradient(to top ,rgba(0,0,0,0.2),rgba(0,0,0,0.9)),url('../Img/img.jpg') no-repeat center center/cover;
    /* opacity: 0.25; */
}
header .l-header{
  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;rem;
    text-align: center;


}

header .l-header h2 {
    margin-bottom:2rem;
    color:#fff;
}
header .l-header p{
    margin:2rem;
    font-weight:bolder;
    color:#fff;
}
header .l-header .btn{
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1rem;
    color:#fff;
    background-color: orange;
    border-radius:9px;
    border: none;
}